#wrap {
	min-height: 1340px;
}

@media (max-width: 1000px) {
 	#banner {
	 position: static !important ;
   margin-top: 30px !important ;
 	};

 	#wrap {
 	    margin: 0 auto -100px;
  }

  .email {
       float: none !important;
  }

  #footer {
      height: 125px !important;
   }

   #footer_container {
     margin-left: 10px !important;
   }

   #block_finder {
     position: static !important;
     padding-top: 20px !important;
     margin-top: 15px !important;
   }

   #gecko_widget {
     margin-top: 0px !important;
     margin-left: 0px !important;
  }

	.coin-link {
 		float: none !important;
	}

}

@font-face {
  font-family: 'Titillium Web';
  src: URL('../fonts/12220.ttf') format('ttf');
}

body {
  font-family: "Titillium Web", sans-serif !important;
}

.coin-link {
    font-size: 13px !important;
    margin-top: -40px;
}
/* CoinGecko */
.cg-container canvas[data-v-463967ab] {
  background-color: #E9E7E7 !important;
}

.navbar {
  color: #2E4C84 !important;
}

.navbar-default {
  color: #2E4C84;
  background: #7109AA !important;
}

#insight_title {
	font-size: 22px;
  color:  #A0D26A;
}

#block_finder {
  position: absolute;
}

#footer {
  height: 75px;
  color: #A0D26A;
}

#links_container {
	float: none !important;
}

.changenow_banner {
	display: block;
	margin-left: -15px;
	margin-top: 5px;
}

.guarda_banner {
	display: block;
}

#changenow_img {
	max-width: 100%;
	margin-top: 20px;
}

#guarda_img {
	width: 100%;
  max-width: 400px;
}

#gecko_widget {
    margin-top: 30px;
    margin-left: -10px;
}

#banner {
	border:none;
	position: absolute;
	margin-top: 560px;
	margin-left:5px;
}

.guarda_banner {
	margin-bottom: 20px;
}

.overflow {
	overflow: hidden;
}

.email {
	font-weight: normal;
	font-style: normal;
	font-size: 13px ;
	margin-top: -46px ;
	color: #ddd;
	text-decoration: none;
}

a.email:hover {
  color: #fffffe;
  text-decoration: none;
}

.status {
  background-color: #906CD7;
}

.navbar-brand {
  font-size: 22px;
  color: #fff;
	font-style: normal;
	font-weight: bold;
}

.navbar-form .form-control {
  background-color: #b19fce
}


.navbar-default , .navbar-default {
  color: #61a5c5;
}

.links {
  color:  #ddd;
}

.navbar-nav>li>a:hover, .navbar-nav>.active>a:hover {
  color: #b19fce !important;
  background-color: #AD66D5 !important;
}

.btn-primary:hover {
    background-color: #cab8e2 !important;
    border: 2px solid #ccc !important;
}

::placeholder  { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  #69921e !important ;
    font-family: "Titillium Web", sans-serif !important;
}
