<a class="dropdown-toggle" data-toggle="dropdown" href="#">
{{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
<li>
<a href="#" data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD &middot; ${{currency.cryptsyusd}} </a>
</li>
<li>
<a href="#" data-ng-click="setCurrency('Doge')" data-ng-class="{active: currency.symbol == 'Doge'}">Doge</a>
</li>
<li>
<a href="#" data-ng-click="setCurrency('mDoge')" data-ng-class="{active: currency.symbol == 'mDoge'}">mDoge</a>
</li>
<li>
<a href="#" data-ng-click="setCurrency('uDoge')" data-ng-class="{active: currency.symbol == 'uDoge'}">uDoge</a>
</li>
</ul>
